*{
    padding:0;
    margin:0;
}
#main{
    width: 100vw;
}

#root{
    display: flex;
    justify-content: center;
}

#view{
    display: inline-flex;
    justify-content: left;
}
#viewTwo{display: inline-flex;
justify-content: right;}